# Ignorar configuraciones locales.
sites/default/files
web/sites/default/settings.php
web/sites/default/files*


# Ignorar caché de Composer.
vendor/
composer.lock

# Ignorar configuraciones de entorno.
.env

# Ignorar caché de Drupal.
sites/default/files/*

# Archivos de IDE.
*.idea
*.vscode